header .h-btn {
    border: 1px solid #00AEFF;
    color: #24116A !important;
    background: linear-gradient(to right,rgba(0, 174, 255, 0.4) 50%, #fff 50%);
}

header .active {
    border-bottom: 2px solid #00AEFF;
}