body {
  font-family: 'Open Sans';  margin: 0;
  padding: 0;
  background-color: #24116A;
  overflow-x: hidden;
}

#contact-head {
    background: #E8F8FF;
    padding: 50px 0;
}

#contact-head .cp-1 {
  font-size: 64px;
  color: #24116A;
}
#contact-head .cp-2 {
  color: #5E5E5E;
}

#contact-head span {
  color: #00AEFF;
}

#contact-form .contact-form {
    background: #FFFFFF;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 116px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 116px;
}

.form-container {
  width: 100%;
  padding: 5%;
}

.contact-form h5 a {
  font-weight: 300;
  font-size: 16px;
  line-height: 29px;
  color: #272727;
}
.contact-form h5 a:hover{
    text-decoration: none;
    color: #00AEFF;
}
.contact-form h6 {
  height: 29px;
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;
  color: #24116A;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 10px;
}
#contact-form .con-b{
    background: #00AEFF;
    border-radius: 10px;
    height: 48px;
    margin-top: 36px;
    padding: 10px 100px;
}

.contact-form input, .contact-form textarea {
  
  height: 64px;
  border: 1px solid #24116A;
}
.social{
    height: 48px;
    border-radius: 30px;
    background-color: white;
    color: #24116A;
    font-size: 14px;
    line-height: 29px;
    font-weight: bold;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 10px 90px;
}
.social img{
    margin-right: 23px;
}
.input-container {
  position: relative;
  margin-top: 15%;
}

.contact-form label, .text-area label {
  position: absolute;
  top: -18%;
  left: 3%;
  background: white;
  padding: 0 .7rem;
  color: #24116A;
  font-size: 14px;
}

.text-area textarea {
  resize: none;
}

.text-area {
  position: relative;
  margin-top: 15%;
}

.text-area label {
  top: -5%;
}

.sign_in {
  margin-bottom: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}
.tagline{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;

  color: #000000;
}
.tagline a:hover{
  text-decoration: none;
}

@media only screen and (max-width: 540px){
  .social{
      padding-left:30px !important;
      padding-right: 30px  !important;
  }
  .contact-form{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      border-radius: 0px !important;
  }
  body{
      background: none;
  }
}
