body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#showcase {
    padding-top: 50px;
}
#showcase .first-col img {
    width: 100%;
}

#showcase .first-col {
    background: rgba(0,174,255,0.1)
}

#showcase .contact-form {
    border: 1px solid #62666E;
    box-sizing: border-box;
    border-radius: 10px;
    padding:50px;
}

#showcase .contact-form .con-b {
    background: #24116A;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
 #showcase .second-col {
     margin: 50px 0;
 }
}
